/* styling used for nav and footer as they will remain constant throughout the project unless screen size is changed */

body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
}

nav{
    margin: 0%;
    height: 7vh;
    box-shadow: 0px 5px 10px rgb(88, 88, 88);
    background-color: black;
}

footer{
    display: flex;
    height: 10vh;
    color: white;
    font-size: 2vh;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -5px 10px rgb(88, 88, 88);
    background-color: black;
    margin-top: auto;
}

.SocialMedia{
    width: 15%;
    height: 60%;
}

.SocialMediaLink{
    width: 100%;
    height: 60%;
}

.navLink{
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.navList{
    padding-left: 0%;
    font-size: 4.2vw;
    display: flex;
    justify-content: space-evenly;
}

.navLink:hover {
    color: green;
}
/* Below CSS will contain classes and ID's which will change depending on the page that is being viewed */

/* Home Page */

#HomePageMain{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#HomeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#HomeImage{
    padding: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 100%;
}

#HomeTitle{
    margin-top: 0%;
    text-align: center;
    font-size: 5vh;
    font-family: monospace;
}

#HomeArticle{
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    font-size: 2vh;
    font-family: monospace;
}


/* Abou Me Page */
#AboutMeMain{
    display: flex;
    flex-direction: column;
}

#AboutMeTitle{
    align-self: center;
    font-size: 4vh;
    font-family: monospace;
}

.AboutMeArticle{
    font-family: monospace;
    align-self: center;
    font-size: 2.2vh;
    text-align: center;
}

.AboutMeImg{
    align-self: center;
    border-radius: 10px;
}

/* Portfolio */

#PortfolioMain{
    display: flex;
    flex-direction: column;
}

#PortfolioTitle{
    text-align: center;
    font-size: 4vh;
    font-family: monospace;
}

.PortfolioArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: monospace;
}

.PortfolioImg{
    border-radius: 40px;
}




/* media query used for desktop (lots of things will need decreasing in size) */
@media screen and (min-width: 600px) {

    .navLink{
        color: white;
        text-decoration: none;
        border-radius: 15px;
    }

    .navList{
        font-size: 2vw;
        display: flex;
        justify-content: space-evenly;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    nav{
        padding-bottom: 1%;
        background-color: black;
        height: 7vh;
        box-shadow: 5px 10px 8px #888888;
    }
    
    footer{
        display: flex;
        height: 20vh;
        color: white;
        font-size: 2vh;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 5px -10px 8px #888888;
        margin-top: auto;
    }
    /* Home Page */

    #HomePageMain{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #HomeDiv{
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    #HomeImage{
        align-self: center;
        padding: 5%;
        width: 15%;
        height: 15%;

    }

    #HomeArticle{
        font-size: 2.5vh;
    }

    #HomeGif{
        align-self: center;
        width: 40%;
        height: 40%;
    }

    /* About Me */
    .AboutMeArticle{
        font-size: 3vh;
    }

    .AboutMeImg{
        align-self: center;
        border-radius: 10px;
        height: 25%;
        width: 25%;
    }

    /* Portfolio */
    .PortfolioArticle{
        font-size: 2vw;
    }

    .PortfolioImg{
        width: 40%;
        height: 40%;
    }

}