/* styling used for nav and footer as they will remain constant throughout the project */

body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
}

nav{
    margin: 0%;
    height: 7vh;
    box-shadow: 5px 10px 8px #888888;
    animation: colour_changing 10s infinite;
}

footer{
    display: flex;
    height: 5vh;
    color: white;
    margin-top: 0%;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -10px 8px #888888;
    animation: colour_changing 10s infinite;
}

.navLink{
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.navList{
    padding-left: 0%;
    font-size: 4.2vw;
    display: flex;
    justify-content: space-evenly;
}

.navLink:hover {
    color: black;
}
/* Below CSS will contain classes and ID's which will change depending on the page that is being viewed */

/* Home Page */

#HomePageMain{
    height: 88vh;
    display: flex;
    flex-direction: column;
}

#HomeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#HomeImage{
    padding: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 100%;
}

#HomeTitle{
    margin-top: 0%;
    text-align: center;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes colour_changing {
    0% {background-color: purple;}
    25% {background-color: green;}
    50% {background-color: blue;}
    75% {background-color: red;}
    100% {background-color: purple;}
}

#HomeArticle{
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}


/* Abou Me Page */
#AboutMeMain{
    height: 88vh;
    display: flex;
    flex-direction: column;
}

#AboutMeTitle{
    align-self: center;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

#AboutMeArticle{
    font-family: Arial, Helvetica, sans-serif;
}




/* media query used for desktop (lots of things will need decreasing in size) */
@media screen and (min-width: 600px) {

    .navLink{
        color: white;
        text-decoration: none;
        border-radius: 15px;
    }

    .navList{
        font-size: 2vw;
        display: flex;
        justify-content: space-evenly;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    nav{
        padding-bottom: 1%;
        background-color: black;
        height: 7vh;
        box-shadow: 5px 10px 8px #888888;
    }
    
    footer{
        display: flex;
        height: 6vh;
        color: white;
        font-size: 2vh;
        background-color: black;
        justify-content: center;
        align-items: center;
        box-shadow: 5px -10px 8px #888888;
        margin-top: auto;
    }
    /* Home Page */

    #HomePageMain{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #HomeDiv{
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    #HomeImage{
        align-self: center;
        padding: 5%;
        width: 15%;
        height: 15%;

    }

    #HomeArticle{
        font-size: 2.5vh;
    }
}