/* styling used for nav and footer as they will remain constant throughout the project unless screen size is changed */

body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
}

nav{
    margin: 0%;
    height: 7vh;
    box-shadow: 0px 5px 10px rgb(88, 88, 88);
    background-color: black;
}

footer{
    display: flex;
    height: 10vh;
    color: white;
    font-size: 2vh;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -5px 10px rgb(88, 88, 88);
    background-color: black;
    margin-top: auto;
}

.SocialMedia{
    width: 100%;
    height: 100%;
}

.SocialMediaLink{
    width: 15%;
    height: 60%;
    text-align: center;
}

.navLink{
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.navList{
    padding-left: 0%;
    font-size: 4.2vw;
    display: flex;
    justify-content: space-evenly;
}

.navLink:hover {
    color: green;
}
/* Below CSS will contain classes and ID's which will change depending on the page that is being viewed */

/* Home Page */

#HomePageMain{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#HomeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#HomeImage{
    width: 40%;
    height: 40%;
    padding: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 5px solid black;
    border-radius: 100%;
    align-self:center ;
}

#HomeTitle{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 5vh;
    font-family: monospace;
}


/* About Me Page */
#AboutMeMain{
    display: flex;
    flex-direction: column;
}

#AboutMeTitle{
    align-self: center;
    font-size: 4vh;
    font-family: monospace;
}

.AboutMeArticle{
    font-family: monospace;
    align-self: center;
    font-size: 2.2vh;
    text-align: center;
}

#AboutMeMovieGIF{
    align-self: center;
    height: 30%;
    width: 30%;
}

#AboutMeGameGIF{
    margin: 0%;
    height: 30%;
    width: 50%;
}

/* Portfolio */

#PortfolioMain{
    display: flex;
    flex-direction: column;
}

#PortfolioTitle{
    text-align: center;
    font-size: 4vh;
    font-family: monospace;
}

.PortfolioArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: monospace;
    font-size: 2.25vh;
}

.PortfolioImg{
    border-radius: 40px;
}

/* Experience */

#ExperienceTitle{
    text-align: center;
    font-family:monospace ;
    font-size: 4vh;
}

.ExpArticle{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 2.25vh;
    padding-left: 2%;
    padding-right: 2%;
}

#ExperienceImagePython{
    height: 70%;
    width: 70%;
    align-self: center;
}

#ExperienceImageJS{
    height: 35%;
    width: 35%;
    align-self: center;
}

#ExperienceImageHTML{
    width: 50%;
    height: 50%;
    align-self: center;
}

.ExperienceSubHead{
    align-self: center;
}




/* media query used for desktop (lots of things will need decreasing in size) */
@media screen and (min-width: 600px) {

    .navLink{
        color: white;
        text-decoration: none;
        border-radius: 15px;
    }

    .navList{
        font-size: 2vw;
        display: flex;
        justify-content: space-evenly;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    nav{
        padding-bottom: 1%;
        background-color: black;
        height: 7vh;
        box-shadow: 5px 10px 8px #888888;
    }
    
    footer{
        display: flex;
        height: 10vh;
        color: white;
        font-size: 2vh;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 5px -10px 8px #888888;
        margin-top: auto;
    }

    .SocialMedia{
        width: 5vw;
        height: 100%;
    }
    
    .SocialMediaLink{
        width: 15%;
        height: 60%;
    }


    /* Home Page */

    #HomePageMain{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #HomeDiv{
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    #HomeImage{
        align-self: center;
        padding: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 15%;
        height: 15%;
        border: 5px solid black;
    }

    #HomeGif{
        margin-top: 0%;
        align-self: center;
        width: 40%;
        height: 40%;
    }

    /* About Me */
    .AboutMeArticle{
        font-size: 3vh;
    }

    #AboutMeMovieGIF{
        align-self: center;
        height: 15%;
        width: 15%;
    }
    
    #AboutMeGameGIF{
        margin: 0%;
        height: 20%;
        width: 20%;
    }

    /* Portfolio */
    .PortfolioArticle{
        font-size: 2vw;
    }

    .PortfolioImg{
        width: 40%;
        height: 40%;
    }

    /* Experience */

    .ExpArticle{
        font-size: 2.5vh;
    }
    
    #ExperienceImagePython{
        height: 35%;
        width: 35%;
    }
    
    #ExperienceImageJS{
        height: 15%;
        width: 15%;
    }

    #ExperienceImageHTML{
        width: 30%;
        height: 30%;
    }
}